In [100]:
import pandas as pd

#Initialize the jokes list
jokes = pd.read_csv('initial_jokes.csv', sep = ';', index_col=False)
jokes_2 = pd.read_csv('jokes_2.csv', sep = ';', index_col=False)

all_jokes = jokes.append(jokes_2).reset_index(drop=True)

C:\Users\Nick\AppData\Local\Temp\ipykernel_3036\3771313680.py:8: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  all_jokes = jokes.append(jokes_2).reset_index(drop=True)

In [99]:
#save to csv
all_jokes.to_csv('all_jokes.csv', sep=';', index = False)

In [119]:
new_jokes = pd.DataFrame({'Joke':[]})
new_jokes.loc[len(new_jokes)] = 4
new_jokes

   Joke
0     4